@model IEnumerable<DAPM_QLTBYT.Models.Khoa>

@{
    ViewData["Title"] = "Cập nhật khoa";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<h1>Cập nhật khoa</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên khoa
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKhoa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaKhoa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKhoa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
