@model DAPM_QLTBYT.Models.Thietbi

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/TruongKhoa/Views/_TruongKhoaLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Thietbi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xuatxu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xuatxu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhaCungCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhaCungCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDmNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDmNavigation.MaDm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaTb">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
